/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", serif; }

.justify-center{
  justify-content: center;
  align-items: center;
}

.form-page{
  height: 100%;
  background-color: #191245;
}

.flex{
  display: flex;
}

.error{
  color: red !important;
}

.flex-col{
  flex-direction: column;
}

.button{
  width: 70% !important;
}

.form-container {
  width: 40%;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
}

.small-font{
  font-size: small !important;
  padding-bottom: 8px;
}
